<style>
    .estimate-header {
        padding: 2px 0 2px 20px;
        background-color: #d9d9d9;
    }
    .estimate-header-logo {
        height: 75px;
        border: 1.5px solid #000;
        padding: 3px;
        margin-bottom: 12px;
    }
    .estimate-header-icon {
        height: 75px;
        padding: 3px;
        margin-bottom: 12px;
    }
</style>
<body>
    <div class="wrapper">
        <!-- Main content -->
        <section class="invoice">
          <!-- title row -->
          <div class="row" style="border-bottom: 1.75px solid #000;">
            <div class="col-3">
              <h2 class="page-header">
                <img class="estimate-header-icon" src="/images/OM_LOGO_icon.png" alt=""> Oberai Motors
              </h2>
            </div>
            <div class="col-6" style="text-align: center; margin-top: 5px;">
                <h5 class="page-header" style="margin-bottom: 0;">
                    <strong>Tata - M/S OBERAI MOTORS - DEHRADUN</strong>
                </h5>
                <p style="margin-bottom: 0; font-size: 14px;">PO Majra Saharanpur Road, Dehradun, Uttarakhand</p>
                <p style="margin-bottom: 0; font-size: 14px;">Dehradun - 248001</p>
            </div>
            <div class="col-3">
                <h2 class="page-header">
                    <small class="float-right"><img class="estimate-header-logo" src="/images/tata_motors_services-copy.jpg"></small>
                </h2>
            </div>
            <!-- /.col -->
          </div>

          <div class="row mt-1">
              <div class="col-12">
                  <h5>
                      <strong>Registration No: <%- Object.values(data) %></strong>
                      <small class="float-right">Created: <%- Object.values(data)[1] %></small>
                  </h5>
              </div>
          </div>
          <!-- info card -->
          <div class="card" style="border: 1.5px solid #000; padding: 5px">
            <div class="row">
                <div class="col-2">
                    <h6><strong>Name of Owner:</strong></h6>
                </div>
                <div class="col-4" style="text-align: left;"><%- Object.values(data)[2] %></div>
                <div class="col-2">
                    <h6><strong>Insurance:</strong></h6>
                </div>
                <div class="col" style="text-align: left;"><%- Object.values(data)[7] %></div>
            </div>

            <div class="row">
                <div class="col-2">
                    <h6><strong>Phone:</strong></h6>
                </div>
                <div class="col-4" style="text-align: left;"><%- Object.values(data)[3] %></div>
                <div class="col-2">
                    <h6><strong>Policy Number:</strong></h6>
                </div>
                <div class="col" style="text-align: left;"><%- Object.values(data)[8] %></div>
            </div>

            <div class="row">
                <div class="col-2">
                    <h6><strong>Email:</strong></h6>
                </div>
                <div class="col-4" style="text-align: left;"><%- Object.values(data)[4] %></div>
                <div class="col-2">
                    <h6><strong>Policy Start Date:</strong></h6>
                </div>
                <div class="col" style="text-align: left;"><%- Object.values(data)[9] %></div>
            </div>

            <div class="row">
                <div class="col-2">
                    <h6><strong>Vechicle Model:</strong></h6>
                </div>
                <div class="col-4" style="text-align: left;"><%- Object.values(data)[5] %></div>
                <div class="col-2">
                    <h6><strong>Policy End Date:</strong></h6>
                </div>
                <div class="col" style="text-align: left;"><%- Object.values(data)[10] %></div>
            </div>

            <div class="row">
                <div class="col-2">
                    <h6><strong>Chassis No:</strong></h6>
                </div>
                <div class="col-4" style="text-align: left;"><%- Object.values(data)[6] %></div>
                <div class="col-2">
                    <h6><strong>Loss Date/Time:</strong></h6>
                </div>
                <div class="col" style="text-align: left;"><%- Object.values(data)[11] %></div>
            </div>
          </div>
          <!-- /.card -->
      
        <div class="card">
              <div class="card-header estimate-header">
                  <h3 class="card-title"><strong>PARTS</strong></h3>
              </div>
              <div class="card-body table-responsive p-0">
                  <table class="table">
                      <thead>
                          <tr>
                              <th style="width: 25vw;">Part Number</th>
                              <th style="width: 45vw;">Part Description</th>
                              <th style="width: 15vw;">Quantity</th>
                              <th>Amount (Rs.)</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% for(var i = 0; i < Object.values(data)[12].length; i++) { %>
                            <tr>
                                <td><%= Object.values(data)[12][i].PartNumber %></td>
                                <td><%= Object.values(data)[12][i].PartName %></td>
                                <td><%= Object.values(data)[12][i].Quantity %></td>
                                <td><%= Object.values(data)[12][i].Amount %></td>
                            </tr>
                          <% } %>
                      </tbody>
                  </table>
              </div>
        </div>

        <div class="card">
            <div class="card-header estimate-header">
                <h3 class="card-title"><strong>Panel/Mechanical Labour</strong></h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 85vw;">Description</th>
                            <th>Amount (Rs.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < Object.values(data)[13].length; i++) { %>
                            <tr>
                                <td><%= Object.values(data)[13][i].Description %></td>
                                <td><%= Object.values(data)[13][i].Amount %></td>
                            </tr>
                          <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header estimate-header">
                <h3 class="card-title"><strong>Tata Paint Schedule</strong></h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 85vw;">Description</th>
                            <th>Amount (Rs.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < Object.values(data)[14].length; i++) { %>
                            <tr>
                                <td><%= Object.values(data)[14][i].Description %></td>
                                <td><%= Object.values(data)[14][i].Amount %></td>
                            </tr>
                          <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header estimate-header">
                <h3 class="card-title"><strong>EXTRAS</strong></h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 85vw;">Description</th>
                            <th>Amount (Rs.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < Object.values(data)[15].length; i++) { %>
                            <tr>
                                <td><%= Object.values(data)[14][i].Description %></td>
                                <td><%= Object.values(data)[14][i].Amount %></td>
                            </tr>
                          <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card" style="border: 1.5px solid #000; padding: 0px">
            <div class="card-header estimate-header">
                <h3 class="card-title">Estimate Summary</h3>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h6>PARTS</h6>
                        </div>
                        <div class="col-4" style="text-align: right; padding-right: 7vw;">
                            <h6><%- Object.values(data)[16] %></h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <h6>BODY WORK LABOUR</h6>
                        </div>
                        <div class="col-4" style="text-align: right; padding-right: 7vw;">
                            <h6><%- Object.values(data)[17] %></h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <h6>PAINT</h6>
                        </div>
                        <div class="col-4" style="text-align: right; padding-right: 7vw;">
                            <h6><%- Object.values(data)[18] %></h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <h6>EXTRAS</h6>
                        </div>
                        <div class="col-4" style="text-align: right; padding-right: 7vw;">
                            <h6><%- Object.values(data)[19] %></h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <h6><strong>TOTAL</strong></h6>
                        </div>
                        <div class="col-4" style="text-align: right; padding-right: 7vw;">
                            <h6 style="font-weight: bold;"><%- Object.values(data)[20] %></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </section>
        <!-- /.content -->
      </div>
      <!-- ./wrapper -->
</body>